body {
  background-image: url('imgs/shakespeare.png');
  background-size: cover;
  background-color: #f0f0f0;
  color: #ed5544; /* Single text color */
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 50px;
}

h1 {
  color: #ff5722;
  font-size: 2rem;
  margin: 20px;
  font-family: fantasy;
}

.inputField {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

button {
  background-color: #ee8175;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem; /* Reduced font size for small screens */
  }

  .inputField {
    width: 100%;
  }
}
